body{
	background-color: #floralwhite;

	}

h1{
	background-color: #3361ff;
}
table, th, td {
	border: 1px solid lightgray;
	padding: 10px;
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 60%;
	margin: auto;
	box-shadow: -1px 12px 12px -6px rgba(0,0,0,1.0);
	border-radius: 60px;
}
table, th {
	text-align: left;
}
h1{
	text-align: center;
}
h2{
	background-color: #3361ff;
}
table, tr{
	height: 15px;
}

tr:nth-child(odd){
	background-color: #8ee4af;
}

tr:nth-child(even){
	background-color: #379683;
}

tr:nth-child(odd):hover{
	background-color: dodgerblue;
	color: #05386b;
	transform: scale(1.2);
	transition: transform 300ms ease-in;
}
tr:nth-child(even):hover{
	background-color: grey;
	color: skyblue;
	transform: scale(1.2);
	transition: transform 300ms ease-in;
}
th {
	background-color: whitesmoke;
}
table{
	font-size: 0.9em;
}
a.b{
	background-color: #379683;
	border: none;
	position: absolute;
	transform: translate(0% 0%);
	right: 25%;
	padding: 5px 5px;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	border-radius: 5px;
}

a.c{
	background-color: #379683;
	border: none;
	position: absolute;
	transform: translate(0% 0%);
	left: 25%;
	padding: 5px 5px;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	border-radius: 5px;
}


a:hover{
	background-color:#18f98f;
	padding: 3px;
	color: whitesmoke;
}
