@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
*{
	box-sizing:border-box;
	font-family: Raleway ;
	color: #777;
}

html, body{
	margin: 0;
	padding: 0;
}

.nav  ul{
	margin: 0;
}

.nav li{
	display: inline;
}

.nav a {
	display: inline-block;
	padding: .5em;
	color: white;
	text-decoration: none;
}

.main-header{
	text-align: center;
	font-size: 1.1em;
	font-weight: lighter;
	border-bottom: 20px solid rgba(255, 255, 255, 0.4);
}

.main-header li{
	padding: 0 3%;

}


.nav a:hover{
	background-color: rgba(255, 255, 255, 0.4);
}

.main-header{
	background-color: rgba(0, 0, 0, .1);
	background-image: url("images/banner.png"); 
	background-blend-mode: multiply;
	background-size: cover;
	padding-bottom: 30px;
}

.main-name{
	text-align: center;
	margin: 0;
	font-size: 4em;
}
.content-section{
	margin: 1em;
}
.container{
	max-width: 900px;
	margin: 0 auto;
	padding: 0 1.5em;
}
.section-header{
	color: #333;
	text-align: center;
	font-size: 2.5em;
	background-color: #56ccf2;
}

.main-footer{
	background-color: #56ccf2;
	color: white;
	padding: .25em 0;
}

.main-footer-container{
	display: flex;
	align-items: center;
}
.main-footer-container{
	flex-grow: 1;
	text-align: end;
}
.footer-nav{
	padding: 0 .5em;
}

.data-row{
	border-bottom: 1px solid black;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.top-row{
	background-color: #56ccf2;
	padding-bottom: 7px;
	font-weight: bold;
	color: black !important
}


.data-item{
	padding-right: .5em;
	display: inline-block;
}
.data-no{
	color: #555;
	font-weight: bold;
	width: 11%;
}
.data-country{
	width: 10%;
}

.data-team{
	width: 30%;
}
.data-odd{
	width: 10%;
}
.data-time{
	width: 10%;
}
.data-date{
	width: 20%;
}
.data-status{
	width: 10%;
}
.data-team-hist{
	width: 35%;
}
.data-stake{
	width: 14%;
}
.next{
	background-color: #33fcff;
	padding: 5px;
	border-radius: 5px;
	text-decoration: none;
	position: absolute;
	right: 30%;
}
.next:hover{
	background-color: #36ff33;
	padding: 8px;

}
.previous{
	background-color: #33fcff;
	padding: 5px;
	border-radius: 5px;
	text-decoration: none;
	position: absolute;
	left: 30%;
}

.previous:hover{
	background-color: #36ff33;
	padding: 8px;
}
.advice{
	background-color: #252525;

}
.analytics{
	background-color: #ee7d0c;
	font-weight: bold;
	color: #000;
}
.win{
	color: darkgreen;
}
.loss{
	color: red;
}

.blink{
  animation: blinker 2.5s linear infinite;
  color: red;
  font-size: 2.0em;
  background-color: tomato;
  text-align: center;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.date{
	color: #000;
}


.country{
	color: #000;
}

.odd{
	color: #000;
}
.no{
	color: #000;
}
.team{
	color: #000;
}
.time{
	color: #000;
}
.status{
	color: #000;
}
.stake{
	color: #000;
}
.external-links{
	display: inline;
	justify-content: space-between;
	padding-right: 10px;
}
